body{

  margin:0;
}
.hello{
  background-image: radial-gradient( #6FB2D2,#85C88A);
  height: 100vh;
  width: 100vw;

background-position: center;
background-size: cover;

  }
h1{
  background-image: linear-gradient(#85C88A,#6FB2D2);
  border-style:  outset;
  position: absolute;
  top: 50%;
  margin-left: 40%;
}
